@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}



img {
    max-width: 100%;
}




body{background-color: #eeeeee;}

.common{
        /* 要素の横幅 */
        max-width: 960PX;
        margin: 0 auto ;
        text-align: Center;
        
}




h1{margin: 50px 30px;
    color: #377a6d;

}

.warps{ 
    /* 横並び */
    display: flex;
    justify-content: space-between;

}


.warp{background-color: #fff;
    width: 31%;
}


.text{text-align: left
      
}

h2{ color: #377a6d;
    border-left: solid 10px;
    padding: 0 5px;
    margin-bottom: 10px;
}

p{
    line-height: 1.5;}

.text{
    padding: 10px;
}

/* レスポンシブ */
@media screen and (max-width: 767px){
    .warps{
       margin-bottom: 10px;
       display:block;
       padding: 0 20px;
}
    .warp{
        margin-bottom: 20px;
        width: 100%;
    }
    .warp>img{
        width: 100%;
    }
    }