@charset "utf-8";

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li{
    padding: 0 20px;
}


.wrap{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.wrap>div {
    background: rgb(51, 18, 197);
    height: 300px;
    width: 31.25%;
}




.wrap2{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


    
.wrap2>div {
    background: rgb(214, 8, 8);
    height: 300px;
    width: 31.25%;
}